@charset "utf-8";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    transition: all 0.3 ease-in-out;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(176, 176, 176);
}
button{
    outline: none;
    border: none;
}
:root{
    ----google-font: 'Sen', sans-serif;
    --footer-font:'Lobster', cursive;
    --font-size:1rem;
    --color:#262626;
    --tb-color:#343434;
    --footer-color:#f1ece3;
    --grey-color:rgb(117, 116, 116);
      --header-text:1.5em ;
      --header-header-text:4rem ;
      --about-me-text:1.6rem;
      --project-title: 2.5rem;
      --project-details:1.6rem;
      --project-description:1rem;
      --project-links:1.5rem;
      --tag-text-size:1rem;
      ----footer-text:clamp(20px, 3rem,65px);
      ----footer-link:35px;
      --projects-text-color: rgba(255, 255, 255, .7);
      --projects-text-size: 17px;
      
      --projects-icon-size: 20px;
      --projects-desc-size: 13px;
      --token-35b4d911-f028-4ec4-a335-82edbf9a6a1f: rgba(196, 196, 196, 0.6);
}
body{
    width: 100%;
    height:100vh;
    color: var(--color);
    
    
    
}
.body{
font-family: var(----google-font);
    padding: 0rem 1rem;
}
.grey-color{
color:var(--grey-color);
}
/* nav */
nav{
    z-index: 11;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-between;

    top: 0;
    left: 0;
    width: 100%;
    padding: calc(var(--font-size));
}
 /* nav button end  */

 /* .nav-overlay{
     position: fixed;
     width: 100%;
     height: 10vh;
     background-color: rgb(237, 237, 237);
     display: flex;
     justify-content: center;
    text-transform: capitalize;
    z-index: -9;
    align-items: center;
    padding-bottom: 8rem;
    font-size: 2rem;
    visibility: hidden;
    transition:all 0.3s ease-in;
}
.show-nav-overlay{
    animation: nav-drop 1 ease-in;
    transition: all 1s ease-in-out;
    visibility: visible;
    z-index: 10;
    height: 100vh;
} */



.name{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: end;
   font-size: var(--header-text);
   text-transform: capitalize;
   font-family: var(----google-font);
}
.name > :nth-child(1){
   margin-right: 1vw;
   color: rgb(84, 84, 84);
}
.nav-cont{
    display: flex;
    justify-content: center;
    transition: transform 1s ease-in-out;
}
.nav-cont .navs{
    margin-right: 4vw;
    font-size:calc( var(--header-text) - 8px);
    backdrop-filter: blur(40px);
    background-color: var(--token-35b4d911-f028-4ec4-a335-82edbf9a6a1f, rgba(87, 87, 87, 0.6));
    opacity: 1;
    border-radius: 40px;
    color: rgb(0, 0, 0);
    will-change: transform;
    width: min-content;
    padding: 10px 20px;
    letter-spacing: 1.3px;
}
.navs:hover{
    background-color: rgba(156, 156, 156, 0.8) ; 
}
.active_nav{
    background-color: rgba(0, 0, 0, 0.8) !important; 
    color: honeydew !important;
}
.navs{
    transition: all 0.5s ease-in-out;
}






 /* section */
 section{
    width: 100%;
   margin-bottom: 1rem;
 }

 .landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60lvh;
    position :relative;
    gap: 3rem;
    margin-bottom: 3rem;
 }
 .landing-page > div{
    height: 50%;

 }
 .about-1-const{
    height: 10% !important;
    padding: 1rem m !important;
 }
 

 
 .page-intro{
    margin-top: 3rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-header-text);
    flex-direction: column;
    letter-spacing: 1vw;
    margin-bottom: -2rem;
 }
.landing-page h2{
    font-weight:500;
    position:absolute;
    bottom:30px;
    right:20px;
}
.title-header{
    margin:1rem 3rem;
    align-items: start;

}





























 /* About me  */
 .about-me{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
   place-content: center;
    padding: 0rem 0.5rem;
    min-height: 30vw;
    margin-bottom:5rem;
    gap: 1rem;
}
.wide-image{
  width: 100%;
  height: 100%;
  background-image: url(./image/Snapchat-2021705136.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  overflow:hidden;
  margin-right:1.3rem;
}
.wide-image> div{
    width:100%;
    height:100%;
    background-color:rgba(53, 50, 50, 0.5);
}
.pageimg{
    display: grid;
    place-content: center;
   width: 50%;

}

.about-me-text{
    font-size:var(--about-me-text) ;
    text-align: center;
    margin-top:1rem;
}




h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
  }
  /* -------- title style ------- */
.line-title {
    position: relative;
    width: 400px;
  }
  .line-title::before,
  .line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
  }
  .line-title::before {
    width: 100%;
    background: #f2f2f2;
  }
  .line-title::after {
    width: 32px;
    background: #e73700;
  }
  
  /******* Middle section CSS Start ******/
  /* -------- Landing page ------- */
  .project_section {
    padding: 10px 50px;
  }
  .project_section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
  }
  
  .project_section .item {
    width: 500px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .project_section .item a{
    color: white !important;
  }
  .project_section .item.active-carousel {
    width: 700px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  }
  .owl-carousel{
    position: relative;
    
    -webkit-transform: translate3d(0,0,0);
    transition: left 1s ease;
  }
  .project_section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
  .owl_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .custom-carousel{
    transition: left 1s ease;
  }
  .owl-item{
    display: grid;
    place-content: center;
   
    padding: 0.5rem;
    border-radius: 20px;

  }
  .project_intro_icons{
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    width:var(--project-details);
    aspect-ratio: 1 1;
    
  }
  .item-desc p{
    transform: translateY(50px);
  }
  .project_section .item-desc {
    padding: 0 14px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    
  }
  .project_section .item.active-carousel .item-desc {
    transform: none;
    -webkit-transform: none;
  }
  
  .project_section .item.active-carousel .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .project_section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
  }

  /******** Middle section CSS End *******/
  
  /***** responsive css Start ******/
  
  @media (min-width: 992px) and (max-width: 1199px) {
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
  
    
    .project_section {
      overflow: hidden;
      padding: 20px 30px;
    }
    .project_section .item {
      width: 450px;
      height: 360px;
    }
    .project_section .item.active-carousel {
      width: 550px;
    }
    .owl_div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    .project_section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    :root{
        --about-me-text:1.2rem;
        --project-description:1.3rem;
        --project-title: 1.7em;
        --project-links:0.7em;
        --footer-text:10PX;
        --project-description:1.9rem;
        --header-text:1.8em;
    }  
   
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
    .line-title {
      width: 330px;
    }

   
    .project_section {
      padding: 10px 30px;
    }
    .project_section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
    .project_section .item.active-carousel {
      width: 370px;
    }
    .project_section .item-desc {
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  
  @media (max-width: 767px) {

    body {
      font-size: 14px;
    }
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 19px;
      line-height: 24px;
    }
    .line-title {
      width: 250px;
    }
    
  
    /* -------- Landing page ------- */
    .project_section {
      padding:0px;
    }
    .owl-stage-outer{
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; /* IE and Edge */
    }
    .owl-stage{
        scroll-snap-align: start;
    }
    .owl-item{
        scroll-snap-stop: always;   display: flex;
        align-items: center;
    }
    .project_section .item {
      width: 90%;
      height: 350px;

    }
    .tags{
        margin-top: 1rem;
    }
    .owl_div{
        display: flex;
        flex-wrap: wrap;
    justify-content: center;
    

    align-items: center;
      }
    .project_section .item.active-carousel {
      width: 100%;
      box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
      
    }
    .project_section .item-desc {
       
      padding: 0 14px 10px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }

  }
  
.project-name{
    width:50%;
    font-size: var(--project-title);    
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}  
.more{
    width:100%;
    border-bottom:2px solid var(--grey-color);


} 
     .tags{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
     }
     .tags >  div{
     margin-right: 1rem;
     
     }
     .tag{
        background-color: rgba(128, 0, 128);
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        margin: 0.3rem 0rem;
        font-size: var(--tag-text-size);
        color: rgb(255, 0, 255);
        display: flex;
        width: fit-content;
        align-items: center;
        white-space:nowrap;
     }
     .tag-green{
        filter: hue-rotate(180deg);
     }
     .tag-blue{
        filter: hue-rotate(270deg);
     }
     .tag-darkgreen{
        filter: hue-rotate(140deg);
     }
     .tag-purple{
        filter: hue-rotate(300deg);
     }
     .tag-brown{
        filter: hue-rotate(90deg);
     }
     .tag-red{
        filter: hue-rotate(30deg);
     }
     .tag-yellow, .dot{
        background-color: yellow;
        color: rgb(45, 62, 12);
     }
     
     .dot{
        width:7px;
       aspect-ratio: 1 / 1;
        border-radius: 50px;
        margin-right: 0.3rem;
        background-color: rgb(255, 0, 255);
     }
        


/* fnacy-btn */
.button{
    width: 100%;
    display: grid;
    place-content: center;
    margin-top: 2rem;
}
.fancy {
 background-color: transparent;
 border: 2px solid #000;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 float: right;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: black;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-transform: uppercase;
 text-decoration: none;
 color: black;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #e8e8e8;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: black;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}
    
/* footer */
footer{
    width: 100%;
    height: fit-content;
    color:var(--footer-color) ;
    background-color: var(--color);
    padding: 1.5rem 0.7rem    ;
    font-family: var(--footer-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    z-index: 10;
}
footer a{
    color:var(--footer-color) ;
}
.icons{     
    display: flex;
    gap: 2rem;
}
.icons a:hover{
    transform: translateY(-10px);
}
.icons a{
    transition: transform ease-in-out 0.3s;
}
.copyrights{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}





.project-page .button{
  margin-top: 3rem;
  position: absolute;
  top: 0;
}








/*                


          ABOUT PAGE


 */
 :root{
    --about-font-size:2rem;
    --about-titile-font-size:2.5rem;
     --about-color:rgb(66, 65, 64);
 }
 .about-page{
    padding: 2rem 8rem;
    color: var(--about-color);
 }
 .about-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--about-font-size);
    margin-bottom: 2rem;
 }
 .about-cont > :nth-child(1){
    width: 40%;
    text-transform: capitalize;
    font-size: var(--about-titile-font-size);
    margin-right: 10rem;
 }
 
 .about-cont > :nth-child(1){
    width: 60%;
 }



/* SKILLS */
.skills{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.box{
    display: flex;
    width: 165px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
background: #ffffff;
box-shadow:  2px 2px 0px #666666,
             -2px -2px 0px #ffffff;
            }

            
.box > svg{
    width:30px;
     height:30px;
}


 /* *******RESPONSIVE********** */
 
 @media  (max-width: 280px) {
    :root{
        --about-me-text:0.7rem;
        --project-title: 1.2em;
        --project-links:0.5em;
        --tag-text-size:0.7rem;
        --projects-text-size: 15px;
        --projects-icon-size: 17px;
        --projects-desc-size: 10px;
    }
    
    .nav-cont{
        gap:2rem;
        flex-direction: column;
    }
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 0.5rem;
        min-height: 80vw;
    }
    .project-desc{
        flex-direction: column;
    }
    .wide-image{
      width: 100%;
      height: 350px;
      background-image: url(./image/me-pic.jpg);
      border-radius: 50px;
    }
 .page-intro{
    margin-top: 1rem;
}
    
.nav-cont{
    display: flex;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform: translateY(-50px);
}
.name{
    display: flex;
    flex-direction: column;
}
.page-intro{
    font-size: 3rem;
}
.tag{
    font-size: var(--tag-text-size);
}
.project-name{
    font-size:var(--project-title);
    flex-direction: row;
}
.skills{
    padding: 0pc;
    display: flex;
    font-size: 0.8rem;
    gap: 10px;
}
.box{
    display: flex;
    
    width: 100px;
    height: 40px;
}
.box > svg{
    width:20px;
     height:20px;
}
.project-details> h2{
    border-width: 80%;
    border: 1px solid var(--projects-text-color) !important;
}
.project_desc_text{
    flex-wrap: wrap;
}
.individual_project_desc{
    flex-wrap: wrap;
}
.individual_project_desc > div:nth-child(even) {
    width: 100%;
}
}

.projects_list{
    color: var(--footer-color)!important;
    font-family: var(----google-font);
    background-color: black;
    font-size: var(--projects-text-size);
   
}
.projects_list a{
    color: var(--projects-text-color)!important;
}
.project_icons{
    width: var(--projects-icon-size);
    aspect-ratio: 1 1;
    fill:  var(--projects-text-color);
}
.site_icon{
display: flex;
align-items: center;
gap: 0.5rem;
padding-left: 0.3rem;
font-size: var(--projects-desc-size);
text-transform: uppercase;

}
.fixed_close{
    top: 1rem;
    right: 2rem;
    position: fixed;
    z-index: 50;
}
.project_cont{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project_details{
    display: flex;
    flex-wrap: inherit;
    width: 100%;
 
}
.project_details_Top{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}
.close-icon{   
    fill: var(--footer-color);
    background-color: rgba(138, 138, 138,0.2);
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1 1;
}
.project_desc_text{
    display: flex;
    justify-content: space-between;
    color: var(--projects-text-color);
    gap: 2rem;
    width: 100%;   
}
.stacks_used_project{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.stacks_used_project_div{
    text-transform: uppercase;
    background:none;
    border: 0.5px solid rgba(118, 118, 118, 0.35);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: var(--projects-desc-size);

}
.project_desc_text> div{    
    width: 100%;
}
.project_desc_text> div:nth-child(even){    
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0rem;
}
.project_desc_text> div:nth-child(even)> div{    
    width: 30%;
}

.project_desc_text>div> div:nth-child(even){    
    border-left: #666666 1px solid;
    width: 60%;
}

.caps_title{
    text-transform: uppercase;
    font-size: var(--projects-text-size);
}
.wide-project-img{
    width: 100%;
    height: 100%;
}
.individual_project_desc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
.individual_project_desc > div:nth-child(even) {
    width: 70%;
}
.project_details_images {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 400px);
}
.project_details_images> div{
    margin: 10px;
}
.moblie{
    grid-row: 1 / span 2; 
    grid-column: 1/ span 3; 
}
.moblie2{
    grid-row: 3/span4; 
    grid-column:  3/ span 5 ; 
    transform: translateY(-150px);
}
.other_project_pic_med{
    grid-row: 2;
    grid-column: 4/9;
}
.laptop{
    grid-row: 1 ; 
    grid-column: 4/ span 7; 
}
.project--images{
    width: 100%;
    height: 100%;
}






 @media (min-width: 280px) and (max-width: 600px) {
    :root{
        --project-title: 1.4em;
        --project-links:0.7em;
        --tag-text-size:0.75rem  ;
        --about-me-text:1.1rem;
        --projects-text-size: 15px;
        --projects-icon-size: 17px;
        --projects-desc-size: 10px;
    }
        .nav-cont{
            display: flex;
            justify-content: center;
            transition: transform 1s ease-in-out;
            position: fixed;
            bottom: 0;
        }
        nav{
            z-index: 1;
            display: flex;
            position: relative;
            align-items:center;
            justify-content: space-between;
            top: 0;
            left: 0;
          background-color: rgba(255, 255, 255,0.3);
            width: 100%;
            padding: calc(var(--font-size));
    
        }
        .landing-page {
            height: 200%;
            gap: 3rem;
            margin-bottom: 3rem;
        }
    
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 0.5rem;
        min-height: 80vw;
    }
    .about-me-text{
        font-size:var(--about-me-text) ;
        text-align: start;
        margin-top:1rem;
    }
    .title-header{
        margin:1rem 0rem;
        align-items: start;
    
    }
    
    .wide-image{
      width: 100%;
      height: 350px;
      background-image: url(./image/me-pic.jpg);
      border-radius: 50px;
    }
    .page-intro{
        margin-top: 1rem;
    }
    .project-name{
        font-size:var(--project-title);
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .project-links{
        display: flex;
        gap: 1rem;
        font-size:var(--project-links);
    }
    .project-desc{
        flex-direction: column;
    }
    .nav-cont{
        display: flex;
        width: 100%;
        transition: transform 1s ease-in-out;
        transform: translateY(-50px);
    }
    .name{
        display: grid;
        width: 100%;
    }
    .name:nth-child(1){
        margin-right: 1rem;
    }
    .page-intro{
        font-size: 2.4rem;
    }
    .tag  {
        font-size: var(--tag-text-size);
    }
    
    .skills{
        padding: 0pc;
        display: flex;
        flex-wrap: wrap ;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        gap: 10px;
    }
    .box{
        display: flex;
        border-radius: 10px;
        width: 120px;
        height: 50px;
    }
    .box > svg{
        width:var(--projects-icon-size);
        aspect-ratio: 1 1;
    }
    .project_cont{
        padding: 1rem;
    }
    .project-details> h2{
        border-width: 80%;
        border: 1px solid var(--projects-text-color) !important;
    }
    .project_desc_text{
        flex-wrap: wrap;
    }
    .individual_project_desc{
        flex-wrap: wrap;
    }
    .individual_project_desc > div:nth-child(even) {
        width: 100%;
    }
    .project_details_images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);
    }
    .project_details_images> div{
        margin: 10px;
    }
    .moblie{
        grid-row: 1 3; 
        grid-column: 1/ span 3; 
    }
    .moblie2{
        grid-row: 2/ 3; 
        grid-column: 2/span 4 ; 
        transform: translateY(0);
    }
    .other_project_pic_med{
        grid-row: 4;
        grid-column: 1/span4;
    }
    .laptop{
        grid-row: 3 ; 
        grid-column: 1/ span 4; 
    }
    .project--images{
        width: 100%;
        height: 100%;
    }
    .footer-sect{
        flex-wrap: wrap;    
    }

}

@media (min-width: 600px) and (max-width: 850px) {
    :root{
        --about-me-text:1.2rem;
        --project-description:1.3rem;
        --project-title: 1.7em;
        --project-links:0.7em;
    }
    .project-links{
        font-size:var(--project-links);
    }
    .buttom{
        font-size: var(--project-description);
    }
    .buttom{
        font-size:var( --project-description);
    }
    
    .skills{
        padding: 0pc;
        display: flex;
        flex-wrap: wrap ;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        gap: 1rem;
    }
   
    }
    
    
@media  (min-width: 850px) {
    
    :root{
        --footer-text:10PX;
            --project-description:1.9rem;
            --header-text:1.8em;
    }
   
   
    .name{
        font-size: var(--header-text);
    }
   
    .wide-image{background-image: url(./image/me-pic.jpg);}
    .about-me{
        place-content: initial;
    }
    .about-me-text{
        
        margin-left: 2rem;
        
    }
    
    .about-me-text-cont
    footer >  .footer-sect:nth-child(1){
        display: flex;
      font-size: var(----footer-text);
    }
    .projectimages{
        background-size: contain;
        min-height: 36vw;
    }   
    .project-desc{
        display: flex;
        justify-content: space-between;
    }
    .project-links{
        font-size:var(--project-links);
    }
    .project-name{
        width: 100%;
        font-size: var(--project-title);
        position: relative;
        font-weight:700;
    }
    .project-name > a{
        font-weight:700;
    }
    .project-details{
        width: 70%;
    }
         .buttom{
             font-size: var(--project-description);
         }
    }
    
  @media (min-width: 1309px)  {
    .projects_list{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project_cont{
        width: 80%;
    }
  }